### General Development ###
HELP.md
*.log
*.DS_Store

### Java ###
# Compiled files
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM files
hs_err_pid*
replay_pid*

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### React ###
node_modules/
bower_components/
dist/
*.sublime*
psd
thumb
sketch
logs
**/*.backup.*
**/*.back.*

### IDE Specific ###
# Eclipse
.project
.classpath
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

### Build Systems ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### OS Generated ###
.DS_*
Thumbs.db